@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400:500;700&display=swap');

html,
body {
  font-family: "Raleway", "Ubuntu", sans-serif;
  background-color: #fff;
  color: #222;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  color: #262161;
}
a{
  text-decoration: none;
  transition: color 0.3s ease;
  background-color: transparent;
}
i{
  line-height: 1;
  padding-left: 7px;
  display: inline-block;
  text-align: center;
}
ul,ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li{
  line-height: 24px;
}
img{
  max-width: 100%;
  height: auto;
  border: 0
}
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
#__next {
  height: 100%;
}
.container{
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}
.header-main{
  position: relative;
  z-index: 2000;
}
.header-wrap{
  position: relative;
  height: 80px;
  z-index:9998;
}
.gradient-menu{
  transform: translate3d(0px, 0px, 0px);
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 9999;
  position: fixed !important;
}
.gradient-menu:before{
  content: "";
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMBAMAAABRpcpkAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMGAhQQCyEd++8AAAAUSURBVAjXY1AAQgMgdABCCBAAQQAT6AFRBPHcWgAAAABJRU5ErkJggg==);
  width: 100%;
  height: 12px;
  position: absolute;
  left: 0;
  bottom: -12px;
  z-index: 1;
}
.nav-container{
  padding-right: 0;
}
.nav-container:before{
  display: table;
  content: '';
  line-height: 0;
}
.menu{
  display: block;
}
.logo{
  height: 48px;
  display: block;
  margin-right: 42px;
  float: left;
}
.logo a{
  line-height:48px;
  background-color: transparent;
}
.desktop-medlifeLogo{
  max-height: 48px !important;
  max-width: 126px !important;
  padding: 3px 0;
  position: relative;
  vertical-align: middle;
  top: -1px;
}
.menu-items-list{
  float: right;
  margin: 0;
}
.menu-items-individual{
  float: left;
  position: static !important;
}
.menu-items-individual > a{
  color: #262161;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  padding: 0 14px;
  padding-right: 31px!important;
  min-width:1px;
  display: block;
  position: relative;
  text-transform: uppercase;
}
.menu-items-container li > a:after{
  background-color: transparent;
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate3d(0, 0, 0);
  transition: width 0.2s ease;
}
.menu-items-container li:hover > a:after{
  width:100%;
  background-color: #ff7300;
}
.submenu-container{
  position: absolute;
  width: 1114px !important;
  height: auto;
  left: 50% !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  /* display: none; */
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.menu-items-list li:hover .submenu-container {
  /* display: block; */
}
.submenu-items-container{
  white-space: normal;
  float: left;
  width: 100%;
  position: relative;
  padding: 25px 0 10px 0;
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
}
.submenu-items{
  width: 196px;
  min-height: 202px;
  margin-left: 22px;  
}
.submenu-items .image{
  position: relative;
  margin-bottom: 0;
}
.submenu-items .image img{
  min-height: 135px;
}
.submenu-items .submenu-tag{
  bottom: 7px;
  z-index: 2;
  font-family: "Raleway";
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  background-color: #222222;
  color: #fff;
  margin-right: 5px;
  padding: 3px 6px 4px;
  display: block;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease
}
.submenu-items .submenu-item-title h3{
  font-size: 13px;
  margin: 7px 0 0;
  line-height: 18px;
  font-weight:700;
  color: #262161;
}
.submenu-lang-container{
  display:none;
  float:none;
  position: absolute;
  width: 6em;
  padding: 15px 0;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.menu-items-list li.menu-items-individual.language:hover .submenu-lang-container{
  display: block;
}
.submenu-lang-items{
  white-space: normal;
  position: relative;
  width: 100;
}
.submenu-lang-items{
  padding: 7px 30px;
  font-size: 12px;
  line-height: 20px;
}
.header-ads{
  position: relative;
}
.header-ads-wrap{
  display: block;
  float: left;
  margin: 24px auto 0 auto!important;
  padding: 0 !important;
  min-height: 0 !important;
  width: 100%;
  text-align: center;
}
.header-ad-img{
  display: block;
  position: relative;
  margin: 1rem auto 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.breadcrumbs{
  min-height: 35px;
  margin-bottom: 9px;
  padding-top: 21px;
}
.breadcrumbs a {
  font-size: 12px;
  color: #c3c3c3;
  line-height: 18px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.main-aside{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
main.main{
  flex: 2;
  min-height: 100%;
  padding-right: 1.5rem;
}
.sidebar{
  flex: 1;
  padding-left: 1.5rem;
  margin-top: 41px;
  position: relative;
}
.sidebar img{
  margin-bottom: 2rem;
}
.sidebar-links h4{
  font-size: 19px;
  font-weight: bold;
}
.sidebar-links ul{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sidebar-links ul li{
  list-style-type: disc;
  list-style-position: inside;
  line-height: 30px;
  color: #ff7300;
  font-weight: bold;
  margin-left: 12px;
}
.sidebar-links ul li a{
  color: #ff7300;
}
.footer{
  overflow: auto;
  width: auto;
  height: auto;
}
.footer .social{
  padding: 26px 0 81px;
  background-color: #f9f9f9;
  position: relative;
}
.social .container .row{
  display: block;
  width:100%;
  min-height: 1px;
  float: left;
  padding-right: 24px;
  padding-left: 24px;
  position: relative;
  text-align: center;
}
.social-icon-wrap{
  margin: 5px 10px 10px 0;
  margin-right: 30px;
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.social-icon-wrap a{
  color: #000;
  display: inline-block;
}
.social-icon-wrap a .social-item{
  font-size: 13px ;
  margin-left: 10px;
}
.social-icon-wrap a .icon{
  border-radius: 100%;
  line-height: 41px;
  font-size: 14px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.03);
  position: relative;
  display: inline-block;
  padding: 0px !important;
  border: 1px solid #f3f3f3;
}
.social-icon-wrap a .icon svg{
  width: 14px;
  height:14px;
}  
.footer .copyright-wrap{
  background-color: #2a2752 !important;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans', arial, sans-serif;
  overflow: auto;
}
.footer .copyright-wrap div{
  display: block;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.footer .copyright-wrap div.copyright{
  float: left;
}
.footer .copyright-wrap div.menu{
  float: right;
}
.footer .copyright-wrap .menu .menu-list{
  float: right;
  display: inline-block;
}
.footer .copyright-wrap .menu .menu-list li{
  display: inline-block;
  margin-left: 0;
  line-height: 18px;
  position: static !important;
}
.footer .copyright-wrap .menu .menu-list li a{
  margin-right: 16px;
  line-height: 18px;
  display: inline-block;
  color: #fff;
}
.post-content{
  margin-top: 21px;
  padding-bottom: 16px;
  font-size: 15px;
  line-height: 1.74;
  color: #222;
  font-family: 'Open Sans', sans-serif;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{
  font-weight: 500 !important; 
}
.post-content h1{
  line-height: 40px;
}
.post-content h2{
  font-size: 27px;
  line-height: 28px;
}
.post-content h3{
  font-size: 22px;
  line-height: 30px;
}
.post-content ol{
  padding-left: 0;
}
.post-content ol li{
  margin-left: 1.2rem;
}
.author-image{
  float: left;
  max-width: 96px;
  margin-top: 0;
}



.navbar{
  position: relative;
  z-index: 2000;
  width: 100%;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
